torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
lightning==2.5.0
transformers==4.50.0
tqdm==4.67.1
timm==1.0.14
matplotlib==3.10.0
seaborn==0.13.2
scikit-learn==1.6.1
rich==13.9.4
wandb==0.19.4
pydantic==2.9.2
ruff==0.9.3
fire==0.7.0
peft==0.14.0